html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

button,
input {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Quicksand", serif;
  overflow-x: hidden;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

path,
circle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

img {
  pointer-events: none;
  border-style: none;
}

img,
svg {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.button {
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overhead {
  color: #5E81FE;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
}

.title {
  color: #5E81FE;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.6em;
}

.subtitle {
  color: #697CA6;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.03em;
  font-weight: 400;
}

@media (max-width: 425px) {
  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 14px;
  }
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Light.eot");
  src: url("../fonts/Quicksand Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand Light.woff2") format("woff2"), url("../fonts/Quicksand Light.woff") format("woff"), url("../fonts/Quicksand Light.svg#Quicksand Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Regular.eot");
  src: url("../fonts/Quicksand Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand Regular.woff2") format("woff2"), url("../fonts/Quicksand Regular.woff") format("woff"), url("../fonts/Quicksand Regular.svg#Quicksand Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Medium.eot");
  src: url("../fonts/Quicksand Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand Medium.woff2") format("woff2"), url("../fonts/Quicksand Medium.woff") format("woff"), url("../fonts/Quicksand Medium.svg#Quicksand Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Bold.eot");
  src: url("../fonts/Quicksand Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand Bold.woff2") format("woff2"), url("../fonts/Quicksand Bold.woff") format("woff"), url("../fonts/Quicksand Bold.svg#Quicksand Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
.header {
  background: #FFFFFF;
  position: fixed;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header--sticky {
  -webkit-box-shadow: 10px 0 10px #697CA6;
          box-shadow: 10px 0 10px #697CA6;
}
.header--sticky .header__wrapper {
  height: 60px;
}

.header--active .header__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #FFFFFF;
}
.header--active .header__start {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header--active .logo {
  margin-right: 0;
}
.header--active .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header--active .nav__item {
  margin-right: 0;
  margin-top: 25px;
}
.header--active .header__end {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header--active .header__social-link {
  margin-right: 20px;
  margin-top: 25px;
}
.header--active .header__social-link:last-child {
  margin-right: 0;
}
.header--active .header__social-link svg {
  width: 22px;
  height: 22px;
}
.header--active .header__button {
  margin-top: 25px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 70px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #5E81FE;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 40px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #697CA6;
  letter-spacing: 0.05em;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav__link:hover {
  color: #5E81FE;
}

.header__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social-link {
  margin-right: 40px;
}
.header__social-link:last-child {
  margin-right: 70px;
}
.header__social-link:hover path {
  fill: #5E81FE;
}

.header__button {
  color: #5E81FE;
  background: rgba(94, 129, 254, 0.2);
}
.header__button:hover {
  color: #FFFFFF;
  background: #5E81FE;
}

.header__menu {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu span {
  position: absolute;
  left: 0;
  width: 30px;
  height: 4px;
  background: #5E81FE;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__menu span::before, .header__menu span::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 4px;
  background: #5E81FE;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__menu span::before {
  top: -12px;
}
.header__menu span::after {
  bottom: -12px;
}

.header__menu--active {
  margin-top: 50px;
}
.header__menu--active span {
  background: transparent;
}
.header__menu--active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__menu--active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1440px) {
  .logo {
    margin-right: 40px;
  }

  .header__social-link:last-child {
    margin-right: 40px;
  }
}
@media (max-width: 1024px) {
  .header__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__end {
    display: none;
  }

  .header {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .header__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__start {
    display: none;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.offer {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F7FF), to(#F1F5FF));
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.offer__slider {
  background-image: url(../img/offer/clouds.svg);
  background-position: bottom top;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.offer__slider-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 0;
}

.offer__slider-item {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.offer__slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 15px 300px;
}

.offer__slider-overhead {
  z-index: 1;
}

.offer__slider-title {
  z-index: 1;
  padding: 15px 0 30px;
  font-weight: 300;
  font-size: 48px;
  color: #5E81FE;
}
.offer__slider-title span {
  font-weight: 500;
}

.offer__slider-subtitle {
  max-width: 500px;
  text-align: center;
  margin-bottom: 20px;
  z-index: 1;
}

.offer__slider-button {
  z-index: 1;
  border-radius: 50%;
}
.offer__slider-button:hover circle {
  fill: #5E81FE;
}
.offer__slider-button:hover path {
  fill: #FFFFFF;
}

.offer__slider-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.offer__slider-svg-line {
  stroke-dasharray: 2005;
  stroke-dashoffset: 2005;
  -webkit-animation: animation-line 4s linear forwards;
          animation: animation-line 4s linear forwards;
}

.offer__slider-point {
  cursor: pointer;
}

.offer__slider-svg {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.offer__slider-svg--active {
  opacity: 1;
}

.offer__slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 0;
  margin-bottom: 30px;
}

.offer__slider-dot {
  width: 10px;
  height: 10px;
  background: #697CA6;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.offer__slider-dot:last-child {
  margin-right: 0;
}

.offer__slider-dot--active {
  background: #5E81FE;
}

@-webkit-keyframes animation-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animation-line {
  to {
    stroke-dashoffset: 0;
  }
}
@media (max-width: 768px) {
  .offer__slider-title {
    font-size: 32px;
  }
}
@media (max-width: 425px) {
  .offer__slider-title {
    font-size: 22px;
  }
}
.desktop__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 15px;
}

.desktop__logos-item {
  margin-right: 70px;
}
.desktop__logos-item:last-child {
  margin-right: 0;
}
.desktop__logos-item:hover path {
  fill: #5E81FE;
}

.desktop__container {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F7FF), to(#F1F5FF));
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  padding: 170px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop__content {
  max-width: 420px;
  margin-right: 50px;
}

.desktop__content-title {
  padding: 30px 0;
}
.desktop__content-title span {
  font-weight: 400;
}

.desktop__content-buttons {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop__content-button--view {
  background: #5E81FE;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
          box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  margin-right: 10px;
}
.desktop__content-button--view:hover {
  background: #FFFFFF;
  color: #5E81FE;
}

.desktop__content-button--see {
  border: 1px solid #697CA6;
  color: #697CA6;
}
.desktop__content-button--see:hover {
  color: #FFFFFF;
  background: #5E81FE;
}

@media (max-width: 1024px) {
  .desktop__content {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .desktop__logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .desktop__logos-item {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .desktop__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .desktop__content {
    margin-right: 0;
    margin-bottom: 50px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .desktop__content-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 500px) {
  .desktop__logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 15px;
  }

  .desktop__logos-item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .desktop__logos-item:last-child {
    margin-bottom: 0;
  }
}
.about__wrapper {
  background-image: url(../img/about/clouds.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.about__overhead {
  padding-top: 20px;
}

.about__title {
  padding: 20px 0 100px;
}

.about__items {
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15px;
}

.about__item {
  max-width: 140px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  margin-right: 10px;
}
.about__item:last-child {
  margin-right: 0;
}

.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.about__item-title {
  padding: 30px 0 25px;
  color: #5E81FE;
  font-weight: 700;
  font-size: 14px;
}

.about__item-subtitle {
  color: #697CA6;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6em;
}

.about__button--read {
  background: rgba(212, 63, 63, 0.2);
  color: #D43F3F;
}
.about__button--read:hover {
  background: #D43F3F;
  color: #FFFFFF;
}

.about__button--get {
  background: rgba(94, 129, 254, 0.2);
  color: #5E81FE;
}
.about__button--get:hover {
  background: #5E81FE;
  color: #FFFFFF;
}

.about__text {
  color: #697CA6;
  font-weight: 600;
  font-size: 12px;
  margin: 0 50px;
  text-transform: uppercase;
}

.about__statistics {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__statistics-item {
  max-width: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 90px;
}
.about__statistics-item:first-child {
  background: #5E81FE;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFFFFF;
}
.about__statistics-item:first-child .about__statistics-text {
  text-align: right;
}
.about__statistics-item:last-child {
  background: rgba(94, 129, 254, 0.2);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #5E81FE;
}
.about__statistics-item:last-child .about__statistics-text {
  text-align: left;
}

.about__statistics-num {
  padding: 25px 0;
  font-size: 48px;
  letter-spacing: 0.03em;
}

.about__statistics-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  max-width: 260px;
}

@media (max-width: 900px) {
  .about__statistics-item {
    padding: 30px 50px;
  }
}
@media (max-width: 700px) {
  .about__statistics-item {
    padding: 15px 15px;
  }

  .about__statistics-num {
    font-size: 36px;
    padding: 15px 0;
  }

  .about__statistics-text {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .about__statistics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__statistics-item {
    padding: 30px 50px;
    max-width: 100%;
  }
  .about__statistics-item:first-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__statistics-item:first-child .about__statistics-text {
    text-align: center;
  }
  .about__statistics-item:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__statistics-item:last-child .about__statistics-text {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .about__item {
    margin-right: 0;
  }

  .about__text {
    margin: 0 15px;
  }
}
.resources__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F7FF), to(#F1F5FF));
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.resources__title {
  margin-bottom: 100px;
}

.resources__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resources__slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.resources__slider-line {
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.resources__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  padding: 65px 35px;
  border-radius: 5px;
  border: 1px solid #697CA6;
  max-width: 1000px;
  margin: 0 50px;
  -webkit-box-flex: 100%;
      -ms-flex: 100% 0 0px;
          flex: 100% 0 0;
}

.resources__slider-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resources__slider-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.resources__slider-img::before, .resources__slider-img::after {
  position: absolute;
  content: "";
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.resources__slider-img::before {
  width: 100%;
  height: 100%;
  bottom: 0;
}
.resources__slider-img::after {
  background-image: url(../img/resources/search.svg);
  width: 65px;
  height: 65px;
  cursor: pointer;
  opacity: 0;
}
.resources__slider-img:hover::after {
  opacity: 1;
}

.resources__slider-img--yellow::before {
  background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
}

.resources__slider-img--blue::before {
  background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
}

.resources__slider-img--red::before {
  background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
}

.resources__slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resources__slider-img {
  margin-right: 10px;
}

.resources__slider-content {
  max-width: 460px;
  margin-left: 50px;
}

.resources__slider-title {
  color: #5E81FE;
  font-size: 36px;
  line-height: 1.6em;
  font-weight: 500;
}

.resources__slider-subtitle {
  padding: 30px 0;
}

.resources__slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resources__slider-button--read {
  color: #5E81FE;
  background: rgba(94, 129, 254, 0.2);
  margin-right: 10px;
}
.resources__slider-button--read:hover {
  color: #FFFFFF;
  background: #5E81FE;
}

.resources__slider-button--add {
  color: #697CA6;
  position: relative;
  z-index: 1;
}
.resources__slider-button--add::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #5E81FE;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.resources__slider-button--add:hover {
  color: #FFFFFF;
}
.resources__slider-button--add:hover::before {
  width: 100%;
  left: 0;
}

.resources__slider-arrows {
  max-width: 1200px;
  margin: -100px auto 0;
  padding: 0 15px;
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resources__slider-arrow:hover path {
  stroke: #D43F3F;
}

.resources__slider-dots {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  margin-left: -25px;
}

.resources__slider-dot {
  width: 10px;
  height: 10px;
  background: #697CA6;
  margin-right: 10px;
  border-radius: 50%;
  margin-top: 100px;
}
.resources__slider-dot:last-child {
  margin-right: 0;
}

.resources__slider-dot--active {
  background: #5E81FE;
}

@media (max-width: 1200px) {
  .resources__slider-line {
    max-width: 900px;
  }

  .resources__slider-item {
    max-width: 800px;
  }

  .resources__slider-content {
    max-width: 350px;
    margin-left: 30px;
  }
}
@media (max-width: 1024px) {
  .resources__slider-line {
    max-width: 600px;
  }

  .resources__slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
  }

  .resources__slider-images {
    margin-bottom: 50px;
  }

  .resources__slider-content {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .resources__slider-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .resources__slider-line {
    max-width: 400px;
  }

  .resources__slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 300px;
    padding: 15px;
  }

  .resources__slider-images {
    margin-bottom: 15px;
  }

  .resources__slider-title {
    font-size: 26px;
  }

  .resources__slider-subtitle {
    padding: 15px 0;
  }

  .resources__slider-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .resources__slider-button--read {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 425px) {
  .resources__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .resources__slider-line {
    max-width: 400px;
  }

  .resources__slider-item {
    margin-bottom: 15px;
    max-width: 300px;
  }

  .resources__slider-arrows {
    width: 100%;
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-110px);
            transform: translateY(-110px);
  }

  .resources__slider-dots {
    bottom: 50px;
  }
}
.testimonials__wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#EAF0FF), to(#F6F9FF));
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 15px 180px;
}

.testimonials__content {
  max-width: 400px;
  margin-right: 50px;
}

.testimonials__content-title {
  padding: 20px 0;
}

.testimonials__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
}

.testimonials__slider-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  left: 0;
}

.testimonials__slider-item {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-shadow: 0px 5px 50px #F3F5FA;
          box-shadow: 0px 5px 50px #F3F5FA;
  border-radius: 5px;
  margin-right: 60px;
  margin-bottom: 30px;
  opacity: 0.5;
  -webkit-box-flex: 70%;
      -ms-flex: 70% 0 0px;
          flex: 70% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.testimonials__slider-item--active {
  opacity: 1;
}

.testimonials__slider-content {
  padding: 50px 70px 0 70px;
  font-size: 14px;
  color: #697CA6;
  line-height: 1.6em;
  letter-spacing: 0.03em;
}

.testimonials__slider-img {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.testimonials__slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: calc(15em - 2em);
  bottom: 0;
}

.testimonials__slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #697CA6;
  margin-right: 10px;
}
.testimonials__slider-dot:last-child {
  margin-right: 0;
}

.testimonials__slider-dot--active {
  background: #5E81FE;
}

@media (max-width: 1200px) {
  .testimonials__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .testimonials__content {
    margin-right: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  .testimonials__slider-dots {
    left: 50%;
    margin-left: -39px;
  }
}
@media (max-width: 768px) {
  .testimonials__slider-line {
    max-width: 400px;
  }

  .testimonials__slider-item {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 0px;
            flex: 100% 0 0;
  }

  .testimonials__slider-content {
    padding: 20px 20px 0;
  }
}
@media (max-width: 425px) {
  .testimonials__slider-line {
    max-width: 300px;
  }
}
.help {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 170px 0;
}

.help__title {
  padding: 20px 0 70px;
}

.help__wrapper {
  padding: 0 15px;
}

.help__accordion {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #000;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.help__accordion:hover .help__accordion-header {
  color: #5E81FE;
}
.help__accordion:hover .help__accordion-header span path {
  stroke: #5E81FE;
}

.help__accordion--acitve .help__accordion-header {
  color: #5E81FE;
}
.help__accordion--acitve .help__accordion-header span {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.help__accordion--acitve .help__accordion-header span path {
  stroke: #5E81FE;
}
.help__accordion--acitve .help__accordion-content {
  max-height: 300px;
}

.help__accordion-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #697CA6;
  line-height: 1.6em;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 10px;
}
.help__accordion-header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-width: 30px;
}

.help__accordion-faq {
  margin-left: 30px;
}

.help__accordion-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 50px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.help__accordion-text {
  max-width: 400px;
  width: 100%;
  padding-right: 50px;
  color: #697CA6;
  line-height: 1.6em;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.help__accordion-button {
  color: #697CA6;
  background: rgba(105, 124, 166, 0.2);
}
.help__accordion-button:hover {
  color: #5E81FE;
  background: rgba(94, 129, 254, 0.2);
}

@media (max-width: 768px) {
  .help__accordion-text {
    padding-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .help__accordion-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 50px;
  }

  .help__title {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .help__accordion-faq {
    margin-left: 15px;
  }

  .help__accordion-header {
    padding-left: 0;
  }
}
.plan {
  background: #5E81FE;
}

.plan__wrapper {
  background-image: url(../img/plan/clouds.svg);
  background-position: bottom top;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 15px;
}

.plan__overhead {
  color: #FFFFFF;
}

.plan__title {
  color: #FFFFFF;
  font-weight: 400;
  padding: 20px 0 30px;
}
.plan__title span {
  font-weight: 500;
}

.plan__subtitle {
  max-width: 700px;
  text-align: center;
  color: #FFFFFF;
}

.plan__buttons {
  margin-top: 30px;
}

.plan__button--view {
  background: #FFFFFF;
  color: #5E81FE;
  margin-right: 10px;
}
.plan__button--view:hover {
  background: #D43F3F;
  color: #FFFFFF;
}

.plan__button--read {
  color: #FFFFFF;
}
.plan__button--read:hover {
  background: #FFFFFF;
  color: #5E81FE;
}

@media (max-width: 375px) {
  .plan__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .plan__button--view {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.newsletter {
  padding: 100px 15px;
}

.newsletter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__content {
  margin-right: 50px;
}

.newsletter__content-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 700;
}

.newsletter__content-subtitle {
  max-width: 330px;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter__form-field {
  width: 280px;
  background: rgba(105, 124, 166, 0.2);
  color: #5E81FE;
  padding: 20px;
  border-radius: 5px;
  margin-right: 15px;
  font-weight: 700;
  font-size: 14px;
}
.newsletter__form-field::-webkit-input-placeholder {
  color: #697CA6;
}
.newsletter__form-field::-moz-placeholder {
  color: #697CA6;
}
.newsletter__form-field:-ms-input-placeholder {
  color: #697CA6;
}
.newsletter__form-field::-ms-input-placeholder {
  color: #697CA6;
}
.newsletter__form-field::placeholder {
  color: #697CA6;
}

.newsletter__form-button {
  background: #5E81FE;
  color: #FFFFFF;
  padding: 20px 60px;
}

@media (max-width: 1024px) {
  .newsletter__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .newsletter__content {
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .newsletter__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .newsletter__form-field {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 15px;
}

.footer__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-link {
  margin-right: 40px;
}
.footer__social-link:last-child {
  margin-right: 70px;
}
.footer__social-link:hover path {
  fill: #5E81FE;
}

.footer__button {
  color: #5E81FE;
  background: rgba(94, 129, 254, 0.2);
}
.footer__button:hover {
  color: #FFFFFF;
  background: #5E81FE;
}

@media (max-width: 1024px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__end {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer__start .logo {
    margin-right: 0;
  }
  .footer__start .nav {
    display: none;
  }
}