.about__wrapper {
    background-image: url(../img/about/clouds.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.about__overhead  {
    padding-top: 20px;
}

.about__title {
    padding: 20px 0 100px;
}

.about__items {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px;
}

.about__item {
    max-width: 140px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.about__buttons {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.about__item-title {
    padding: 30px 0 25px;
    color: $primary-color;
    font-weight: 700;
    font-size: 14px;
}

.about__item-subtitle {
    color: $secondary-color;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.6em;
}

.about__button--read {
    background:  rgb($quaternary-color, 0.2);
    color: $quaternary-color;

    &:hover {
        background: $quaternary-color;
        color: $tertiary-color;
    }
}

.about__button--get {
    background: rgb($primary-color, 0.2);
    color: $primary-color;

    &:hover {
        background: $primary-color;
        color: $tertiary-color;
    }
}

.about__text {
    color: $secondary-color;
    font-weight: 600;
    font-size: 12px;
    margin: 0 50px;
    text-transform: uppercase;
}

.about__statistics {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__statistics-item {
    max-width: 50%;
    width: 100%;
    display: flex;  
    flex-direction: column;
    padding: 60px 90px;

    &:first-child {
        background: $primary-color;
        justify-content: flex-end;
        align-items: flex-end;
        color: $tertiary-color;
        
        .about__statistics-text {
            text-align: right;
        }
    }
    &:last-child {
        background: rgb($primary-color, 0.2);
        align-items: flex-start;
        color: $primary-color;

        .about__statistics-text {
            text-align: left;
        }
    }
}

.about__statistics-num {
    padding: 25px 0;
    font-size: 48px;
    letter-spacing: 0.03em;
}

.about__statistics-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    max-width: 260px;
}

@media (max-width: 900px) {
    
    .about__statistics-item {
        padding: 30px 50px;
    }
}

@media (max-width: 700px) {

    .about__statistics-item {
        padding: 15px 15px;
    }

    .about__statistics-num {
        font-size: 36px;
        padding: 15px 0;
    }
    
    .about__statistics-text {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    
    .about__statistics {
        flex-direction: column;
    }
    .about__statistics-item {
        padding: 30px 50px;
        max-width: 100%;
        
        &:first-child {
            align-items: center;
            
            .about__statistics-text {
                text-align: center;
            }
        }
        &:last-child {
            align-items: center;
    
            .about__statistics-text {
                text-align: center;
            }
        }
    }
}

@media (max-width: 480px) {
    
    .about__item {
        margin-right: 0;
    }

    .about__text {
        margin: 0 15px;
    }
}
