.desktop__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.desktop__logos-item {
    margin-right: 70px;

    &:last-child {
        margin-right: 0;
    }

    &:hover {

        path {
            fill: $primary-color;
        }
    }
}

.desktop__container {
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    padding: 170px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desktop__content {
    max-width: 420px;
    margin-right: 50px;
}

.desktop__content-title {
    padding: 30px 0;

    span {
        font-weight: 400;
    }
}

.desktop__content-buttons {
    margin-top: 50px;
    display: flex;
}

.desktop__content-button--view {
    background: $primary-color;
    color: $tertiary-color;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    margin-right: 10px;

    &:hover {
        background: $tertiary-color;
        color: $primary-color;
    }
}

.desktop__content-button--see {
    border: 1px solid $secondary-color;
    color: $secondary-color;

    &:hover {
        color: $tertiary-color;
        background: $primary-color;
    }
}