.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 15px;
}

.footer__start {
    display: flex;
    align-items: center;
}

.footer__end {
    display: flex;
    align-items: center;
}

.footer__social-link {
    margin-right: 40px;

    &:last-child {
        margin-right: 70px;
    } 

    &:hover {

        path {
            fill: $primary-color;
        }
    }
}

.footer__button {
    color: $primary-color;
    background: rgb($primary-color, 0.2);

    &:hover {
        color: $tertiary-color;
        background: $primary-color;
    }
}

@media (max-width: 1024px) {

    .footer {
        justify-content: center;
        align-items: center;
    }

    .footer__end {
        display: none;
    }
}

@media (max-width: 768px) {

    .footer__start {

        .logo {
            margin-right: 0;
        }
        
        .nav {
            display: none;
        }
    }
}