.help {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 170px 0;
}

.help__title {
    padding: 20px 0 70px;
}

.help__wrapper {
    padding: 0 15px;
}

.help__accordion {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #000;
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;

    &:hover {

        .help__accordion-header {
            color: $primary-color;
    
            span {
                
                path {
                    stroke: $primary-color;
                }
            }
        }
    }
}

.help__accordion--acitve {

    .help__accordion-header {
        color: $primary-color;

        span {
            transform: rotate(-180deg);
            
            path {
                stroke: $primary-color;
            }
        }
    }

    .help__accordion-content {
        max-height: 300px;
    }
}

.help__accordion-header {
    position: relative;
    display: flex;
    align-items: center;
    color: $secondary-color;
    line-height: 1.6em;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-left: 10px;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        min-width: 30px;
    }
}

.help__accordion-faq {
    margin-left: 30px;
}

.help__accordion-content {
    display: flex;
    align-items: center;
    padding: 0 15px 0 50px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.help__accordion-text {
    max-width: 400px;
    width: 100%;
    padding-right: 50px;
    color: $secondary-color;
    line-height: 1.6em;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.help__accordion-button {
    color: $secondary-color;
    background: rgb($secondary-color, 0.2);

    &:hover {
        color: $primary-color;
        background: rgb($primary-color, 0.2);
    }
}

@media (max-width: 768px) {
    
    .help__accordion-text {
        padding-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .help__accordion-content {
        flex-direction: column;
        padding: 0 50px;
    }

    .help__title  {
        text-align: center;
    }

}

@media (max-width: 425px) {

    .help__accordion-faq {
        margin-left: 15px;
    }

    .help__accordion-header {
        padding-left: 0;
    }
}