.newsletter {
    padding: 100px 15px;
}

.newsletter__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter__content {
    margin-right: 50px;
}

.newsletter__content-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 700;
}

.newsletter__content-subtitle {
    max-width: 330px;
}

.newsletter__form {
    display: flex;
}

.newsletter__form-field {
    width: 280px;
    background: rgb($secondary-color, 0.2);
    color: $primary-color;
    padding: 20px;
    border-radius: 5px;
    margin-right: 15px;
    font-weight: 700;
    font-size: 14px;

    &::placeholder {
        color: $secondary-color;
    }
}

.newsletter__form-button {
    background: $primary-color;
    color: $tertiary-color;
    padding: 20px 60px;
}

@media (max-width: 1024px) {
    
    .newsletter__wrapper {
        flex-direction: column;
    }

    .newsletter__content {
        margin-right: 0;
        margin-bottom: 15px;
        text-align: center;
    }
}

@media (max-width: 550px) {
    
    .newsletter__form {
        flex-direction: column;
    }

    .newsletter__form-field {
        margin-right: 0;
        margin-bottom: 15px;
    }
}