.testimonials__wrapper {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 15px 180px;
}

.testimonials__content {
    max-width: 400px;
    margin-right: 50px;
}

.testimonials__content-title {
    padding: 20px 0;
}

.testimonials__slider {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
}

.testimonials__slider-line {
    position: relative;
    display: flex;
    max-width: 700px;
    transition: 0.5s;
    flex: 100%;
    left: 0;
}

.testimonials__slider-item {
    background: $tertiary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 50px #F3F5FA;
    border-radius: 5px;
    margin-right: 60px;
    margin-bottom: 30px;
    opacity: .5;
    flex: 70% 0 0;
    transition: 0.5s;
}

.testimonials__slider-item--active {
    opacity: 1;
}

.testimonials__slider-content {
    padding: 50px 70px 0 70px;
    font-size: 14px;
    color: $secondary-color;
    line-height: 1.6em;
    letter-spacing: 0.03em;
}

.testimonials__slider-img {
    transform: translateY(30px);
}

.testimonials__slider-dots {
    display: flex;
    position: absolute;
    left: calc(15em - 2em);
    bottom: 0;
}

.testimonials__slider-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $secondary-color;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.testimonials__slider-dot--active {
    background: $primary-color;
}

@media (max-width: 1200px) {
    
    .testimonials__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonials__content {
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .testimonials__slider-dots {
        left: 50%;
        margin-left: -39px;
    }
}

@media (max-width: 768px) {

    .testimonials__slider-line {
        max-width: 400px;
    }

    .testimonials__slider-item {
        flex: 100% 0 0;
    }

    .testimonials__slider-content {
        padding: 20px 20px 0;
    }
}

@media (max-width: 425px) {

    .testimonials__slider-line {
        max-width: 300px;
    }
}